.blue {
    height: 200px;
    width: 200px;
    background-color: blue;
}
.yellow {
    height: 200px;
    width: 200px;
    background-color: yellow;
}
.red {
    height: 200px;
    width: 200px;
    background-color: red;
}