body {
    margin: 0;
  }
  
.parent-div {
    height: 150px;
    width: 300px;
    border: 1px solid black;
    display: inline-block;
    
}
.child-div {
    height: 100px;
    width: 302px;
}
.blue {
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
       
}


.black {
    height: 100px;
    width: 100px;
    background-color: black;
    display: inline-block;
    margin-right: -10px;

}
.yellow {
    height: 100px;
    width: 100px;
    background-color:#ffce00;
    display: inline-block;
    margin-left: -4px;
    

}
.white {
    height: 100px;
    width: 100px;
    background-color:white;
    display: inline-block;
    margin-left: -4px;
}

.red {
    height: 100px;
    width: 100px;
    background-color: #DD0000;
    display: inline-block;
    margin-left: -4px;

   
    
}   
.red1 {
    height: 100px;
    width: 100px;
    background-color: #DD0000;;
    display: inline-block;
    margin-left: -4px;
}   