.todo-container {
    border: 1px solid black;
    margin: 10px;
    position: relative;
}

.todo-container > h1 {
    color: cornflowerblue;
}

.todo-container > button {
    position: absolute;
    top: 0;
    right: 0;
}

span {
    width: 100%;
    display: inline-block;
}